.impression {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 57px;

  @media (min-width: @tablet-width) {
    padding-left: 96px;
    padding-right: 96px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 53px;
    padding-right: 53px;
  }
}

.impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.impression__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 0;
  margin-top: 22px;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
  }
}

.impression__item {
  width: 280;
}

.impression__field {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
