.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  text-align: center;
}

.advantages__item--fill {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.advantages__item--divider {
  padding-top: 70px;
  background-image: url(../../img/advantages/advantages-divider.png);
  background-repeat: no-repeat;
  background-size: 320px 37px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  text-transform: uppercase;
  margin: 0;
  margin-top: 11px;
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;
  margin-top: 17px;
}

.advantages__image {
  margin-top: 40px;
  display: block;
}

.advantages__item--no-divider {
  padding-top: 37px;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(4),
.advantages__item:nth-child(5) {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #EEEEEE;
}

.advantages__item:last-child {
  margin-bottom: 28px;
}
