.previw {
  box-sizing: border-box;
}

.preview__hero {
  padding-top: 90px;
  padding-bottom: 85px;
  text-align: center;
  background-image: url(../../img/hero/hero-divider.png), url(../../img/hero/hero-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position-y: 100%, center;
  background-color: #DAE8F1;
  background-size: 320px 57px, 320px 389px;
  box-sizing: border-box;
}

.preview__introduction-wrapper {
  text-align: center;
  padding-top: 32px;
}

.preview__introduction {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.preview__description {
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 16px;
}

.preview__hero--cut-background {
  padding-top: 52px;
  padding-bottom: 67px;
  margin-bottom: 5px;
}
