.photo-card {
  padding-top: 24px;
  padding-bottom: 25px;
}

.photo-card__image {
  background-color: #EEEEEE;
  display: block;
  width: 280px;
  min-height: 280px;
  margin-bottom: 15px;
}

.photo-card__title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.photo-card__author {
  font-style: normal;
}

.photo-card__like-stats {
  margin-top: 11px;
}
