.review__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.review__button-description {
  display: block;
  padding-right: 20px;
  text-align: end;
  color: @description-black;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
