.review__form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.review__form__button-description {
  display: block;
  padding-right: 20px;
  text-align: end;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
